html, body{
    padding:0;
    margin:0;
    min-height:100%;
    min-width: 100%;;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #140A32;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header, .main{
    max-width: 1140px;
    margin:0 auto;
}

.container {  
    
}
/* Header */

.header {
    padding: 40px 0px 30px 0px;
    
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 30px;
}

.header-content img {
    height: 38px;
}

.header-input {
    display: flex;
    align-items: center; 
}

.header-input input {
    background-color: rgba(47, 43, 67, 0.04);
    padding: 14px 20px;
    width: 427px;
    border: none;
    outline: none;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.header-input input::placeholder {
    color: rgba(47, 43, 67, 0.4);
} 

.header-input button {
    border: none;
    outline: none;
    background-color: rgba(47, 43, 67, 0.04);
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    padding: 8px 20px;
}

.header-input button:hover {
    cursor: pointer;
}

.header-input button img {
    height: 24px;
}

.header-question {
    background-color: #33836E;
    border-radius: 10px;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    text-decoration: none;
}

.header-question img {
    height: 24px;
    margin-right: 10px;
}

.header-question p {
    color: #fff;
}

.header-contact a {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
    text-decoration: none;
    color: #140A32;
}

.header-contact p {
    font-size: 14px;
    font-weight: 400;
    color: rgba(47, 43, 67, 0.5);
}

.header-contact-button {
    text-decoration: none;
    padding: 11px 20px;
    display: flex;
    align-items: center;
    color: #140A32;
    border: 1px solid #2F2B4326;
    border-radius: 10px;
}

.header-contact-button img {
    height: 24px;
    margin-right: 10px;
}

.nav {
    display: flex;
}

.nav a {
    margin-right: 30px;
    text-decoration: none;
    color: #140A32;
}

.header-login {
    display: flex;
    align-items: center;
}

.header-login img {
    height: 24px;
    margin-right: 10px;
}

.header-login a {
    text-decoration: none;
    color: #140A32;
}

/* Nain */

.main-target {
   color: rgba(47, 43, 67, 0.5); 
   margin-bottom: 49px;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-content:first-child {
    margin-right: 106px;
}

.main-content div h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 51.75px;
    width: 657px;

    margin-bottom: 15px;
}

.main-content > div > p {
    color: #140A32;
    font-size: 16px;
    border-left-width: 25.6px;
    margin-bottom: 30px;
    width: 657px;
}

.main-question {
    display: flex;
    margin-bottom: 40px;
}

.main-question > a {
    background-color: #33836E;
    padding: 16px 36px;
    color: #fff;
    font-weight: 600;
    margin-right: 30px;
    border-radius: 10px;
    text-decoration: none;
}

.main-question div a {
    text-decoration: none;
    color: #33836E;
    font-weight: 700;
    font-size: 24px;
    padding-bottom: 2px;
    border-bottom: 2px solid #33836E
}

.main-question div p {
    columns: rgba(47, 43, 67, 0.5);
    font-size: 12px;
    font-weight: 400;

    margin-top: 5px;
}

.maim-plus {
    display: flex;
    align-items: center;
    margin-bottom: 100px;
}

.maim-plus div {
    margin-right: 30px;
    display: flex;
    align-items: center;
}

.maim-plus div p {
    color: #140A32;
}

.maim-plus div img {
    height: 24px;
    margin-right: 10px;
}